body {
    background-image: url(7.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    padding-bottom: 15px;
}
.container {
    text-align: center;
    padding: 40px;
    padding-top: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    overflow: hidden;
}
label {
    padding: 10px;
    font-size: 20px;
}
input {
    margin: 10px 0;
    padding: 10px;
    border: 3px solid rgb(64, 129, 123);
    border-radius: 10px;
    transition: 0.2s;
}
input:focus {
    background-color: rgb(182, 229, 225);
    border: 3px solid rgb(24, 49, 47);
}
select {
    margin: 10px 0;
    padding: 10px;
    border: 3px solid rgb(64, 129, 123);
    border-radius: 10px;
    transition: 0.2s;
}
select:focus {
    background-color: rgb(182, 229, 225);
    border: 3px solid rgb(24, 49, 47);
}
button[type="submit"], button[type="button"] {
    background-color: rgb(155,222,215);
    transition: 0.2s;
    width: 150px;
    margin: 0px auto;
    border-width: 3px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}
button[type="submit"]:hover, button[type="button"]:hover {
    background-color: rgb(105, 202, 175);
}