body {
    background-image: url(7.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
.box {
    background-color: white;
    margin: 0 auto;
    width: 78vw;
    padding: 10px 30px 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
tr, td, th {
    height: 20px;
    transition: 0.25s;
}
tr:hover {
    background-color: rgb(155,222,215);
}
td {
    padding-left: 50px;
    border-top: 1px solid rgb(64, 129, 123);
}
th {
    border-bottom: 2px solid rgb(64, 129, 123);
    background-color: rgb(182, 229, 225);
}
.name {
    width: 40%;
}
.course {
    width: 20%;
}
.number {
    width: 20%;
}
.action {
    width: 40%;
}
.show {
    padding: 0;
}
.actionsdiv {
    display: block;
}
h1 {
    text-align: center;
}
.actions {
    margin: 3px auto;
    padding-top: 1px;
    display: inherit;
    height: 25px;
    width: 155px;
    cursor: pointer;
    background-color: rgb(155,222,215);
    border-radius: 5px;
    transition: 0.05s;
}
.actions:hover {
    border-width: 3px;
    transform: scale(1.05);
    font-weight: bold;
}
.students td {
    padding: 1px 0;
    text-align: center;
}
.s_name, .s_fam, .s_date, .s_tel {
    width: 10%;
}
.s_gender {
    width: 6%;
}
.s_group {
    width: 17%;
} 
.s_address {
    width: 27.5%;
}
.s_email {
    width: 15%;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(15, 29, 27);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    text-wrap: nowrap;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav a:hover:not(:first-of-type) {
    color: rgb(64, 129, 123);
    background: #fff;
    outline: none;
    position: relative;
    background-color: #fff;
}
.active:hover span {
    display: none;
}
.active:hover::before {
    content: "Вы тут";
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.overlayAttendance {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}
.modalAttendance {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 71vw;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.modal button {
    margin-top: 10px;
}
.menu {
    position: absolute;
    top: 10px;
    left: 20px;
    cursor: pointer;
    font-size: 40px;
    color: rgb(15, 29, 27);
}
.form {
    display: grid;
    box-sizing: content-box;
    grid-template-columns: 200px 200px;
}
label {
    margin: auto 0;
}
input {
    margin: 10px 0;
    padding: 10px;
    border: 3px solid rgb(64, 129, 123);
    border-radius: 10px;
    transition: 0.2s;
}
input:focus {
    background-color: rgb(182, 229, 225);
    border: 3px solid rgb(24, 49, 47);
}
select {
    margin: 10px 0;
    padding: 10px;
    border: 3px solid rgb(64, 129, 123);
    border-radius: 10px;
    transition: 0.2s;
}
select:focus {
    background-color: rgb(182, 229, 225);
    border: 3px solid rgb(24, 49, 47);
}
button[type="submit"], button[type="button"] {
    background-color: rgb(155,222,215);
    transition: 0.2s;
    width: 150px;
    margin: 0px auto;
    border-width: 3px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}
button[type="submit"]:hover, button[type="button"]:hover {
    background-color: rgb(105, 202, 175);
}
h2 {
    text-align: center;
}