body {
    background-image: url(7.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
}
.left-panel {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0 20px 20px 20px;
    margin: 0px 9vw;
    width: 21%;
    border-radius: 20px;
}
.right-panel {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.teacher-block {
    border: 2px outset rgb(155,222,215);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    transition: 0.3s;
}
.teacher-block:hover {
    box-shadow: inset 0 0 5px 5px rgb(155,222,215);
}
.schedule-container {
    margin: 30px 38vw;
    padding: 0 30px 30px 30px;
    position: fixed;
    width: 50vw
}
table {
    width: 100%;
    height: 78vh;
    border-collapse: collapse;
}
.teachers {
    width: 100%;
    height: 0;
}
th, td {
    border: 1px solid black;
    padding: 1px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
td {
    height: 15.5%;
}
tr {
    transition: 0.25s;
}
tr:hover {
    background-color: rgb(155,222,215);
}
.day {
    background-color: #e2e2e2;
    width: 14%;
    height: 6%;
}
.time {
    background-color: #d2d2d2;
    width: 8.5%;
    height: 6%;
}
.schedule-item {
    position: relative;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: small;
    word-break: break-all;
}
.delete-button {
    background-color: red;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    display: none;
}
.schedule-item:hover .delete-button {
    display: block;
}
h1 {
    padding-top: 0;
    text-align: center;
}
.ac {
    display: flex;
    flex-wrap: wrap;
}
.actions {
    margin: 5px auto;
    height: 25px;
    cursor: pointer;
    background-color: rgb(155,222,215);
    border-radius: 5px;
    transition: 0.1s;
}
.actions:hover {
    transform: scale(1.05);
    font-weight: bold;
    border-width: 3px;
}
.dropdown {
    position: fixed;
    display: inline-block;
}
.dropdown button {
    transition: 0.3s;
    border: 2px solid black;
    border-bottom: none;
    width: 151px;
    background-color: rgb(121, 185, 179);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.dropdown-content {
    transition: max-height 0.3s ease;
    border: 2px solid black;
    border-top: transparent;
    max-height: 0px;
    overflow: hidden;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 147px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    transition: 0.3s;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: rgb(155,222,215);
}
.dropdown:hover .dropdown-content {
    max-height: 200px;
    display: block;
}
.dropdown:hover button {
    background-color: rgb(80, 160, 152);
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 71vw;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.alert {
    position: relative;
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid rgb(155,222,215);
    border-radius: 5px;
    background-color: rgb(182, 229, 225);
    color: rgb(46, 95, 90);
}
.close {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: none;
    background: none;
    font-size: 16px;
    font-weight: bold;
    color: rgb(46, 95, 90);
    cursor: pointer;
}
.close:hover {
    color: #000;
}