body {
    background-image: url(7.jpg);
    font-family: Arial, Helvetica, sans-serif;
}
.box {
    background-color: white;
    margin: 0 auto;
    width: 80vw;
    padding: 10px 30px 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
tr, td, th {
    border: 1px solid black;
}
tr:hover {
    background-color: rgb(155,222,215);
}
td {
    padding-left: 50px;
}
td:last-of-type {
    padding-left: 0;
    text-align: center;
}
th {
    background-color: rgb(235, 235, 235);
}
.name {
    width: 40%;
}
.course {
    width: 20%;
}
.number {
    width: 20%;
}
.action {
    width: 40%;
}
h1 {
    text-align: center;
}
.actions {
    margin: 0 auto;
    display: inherit;
    height: 25px;
    cursor: pointer;
    background-color: rgb(155,222,215);
    border-radius: 5px;
}
.actions:hover {
    border-width: 3px;
    font-weight: bold;
}
.students td {
    padding: 1px 0;
    text-align: center;
}
.s_name, .s_fam, .s_date, .s_tel {
    width: 10%;
}
.s_gender, .s_group {
    width: 7.5%;
}
.s_address {
    width: 30%;
}
.s_email {
    width: 15%;
}
.dropdownbutton {
    border: 2px solid black;
    background-color: rgb(176, 236, 230);
    padding: 13px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    z-index: 1;
}
.dropdown {
    position: fixed;
    border: 2px solid black;
    border-radius: 4px;
    display: inline-block;
}
.dropdown-menu {
    display: none;
    background-color: rgb(229, 255, 252);
}
.dropdown-menu a {
    color: black;
    padding: 11px 15px;
    text-decoration: none;
    display: block;
}
.dropdown-menu a:hover {
    background-color: rgb(211, 247, 243);
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown:hover .dropdownbutton {
    text-align: left;
    background-color: rgb(194, 241, 237);
    min-width: 150px;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 71vw;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.modal button {
    margin-top: 10px;
}