<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Группы</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='groups.css') }}">
    <script>
        // Функция для открытия окна
        function openAttendance(studentId) {
            document.getElementById('overlay').style.display = 'block';
            fetch(`/get_attendance?student_id=${studentId}`)
                .then(response => response.json())
                .then(data => {
                    let attendanceTable = document.getElementById('attendance-table');
                    attendanceTable.innerHTML = `
                        <tr>
                            <th>Дата</th>
                            <th>Предмет</th>
                            <th>Статус</th>
                        </tr>
                    `;
                    data.forEach(item => {
                        let row = `
                            <tr>
                                <td>${item[0]}</td>
                                <td>${item[1]}</td>
                                <td>${item[2]}</td>
                            </tr>
                        `;
                        attendanceTable.innerHTML += row;
                    });
                });
        }
        // Функция для закрытия окна
        function closeAttendance() {
            document.getElementById('overlay').style.display = 'none';
        }
    </script>
</head>
<body>
    <div class="dropdown">
        <button class="dropdownbutton"><i class="fa fa-list-ul" aria-hidden="true"></i></button>
        <div class="dropdown-menu">
            <a href="/">На главную</a>
            <a href="schedule">Расписание</a>
            <a href="teachers">Преподаватели</a>
        </div>
    </div>
    <div class="box">
        <h1>Список групп</h1>
        <table>
            <tr>
                <th class="name">Название группы</th>
                <th class="course">Курс</th>
                <th class="number">Количество студентов</th>
                <th class="action">Действия</th>
            </tr>
            {% for group in groups %}
            <tr class="row" {% if selected_group_id and selected_group_id == group[0]|string %}style="background-color: rgb(200,222,215);"{% endif %}>
                <td>{{ group[1] }}</td>
                <td>{{ group[2] }}</td>
                <td>{{ group[3] }}</td>
                <td class="show">
                    <button class="actions" onclick="window.location.href='/groups?group_id={{ group[0] }}'" style="display: block;">Показать студентов</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <div class="box">
        <h1>
            Список студентов
        </h1>
        <table class="students">
            <tr>
                <th class="s_name">Имя</th>
                <th class="s_fam">Фамилия</th>
                <th class="s_date">Дата рождения</th>
                <th class="s_gender">Пол</th>
                <th class="s_address">Адрес</th>
                <th class="s_tel">Телефон</th>
                <th class="s_email">Email</th>
                {% if show_all_students %}
                    <th class="s_group">Группа</th>
                {% else %}
                    <th class="s_group">Действия</th>
                {% endif %}
            </tr>
            {% for student in students %}
            <tr>
                <td>{{ student[1] }}</td>
                <td>{{ student[2] }}</td>
                <td>{{ student[3] }}</td>
                <td>{{ student[4] }}</td>
                <td>{{ student[5] }}</td>
                <td>{{ student[6] }}</td>
                <td>{{ student[7] }}</td>
                {% if show_all_students %}
                    <td>{{ student[8] }}</td>
                {% else %}
                    <td><button class="actions" onclick="openAttendance({{ student[0] }})">Посещаемость</button></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <br>
        <button class="actions" onclick="window.location.href='/groups'" {% if show_all_students %}style="display: none;"{% endif %}>Показать всех студентов</button>
    </div>
    <div class="overlay" id="overlay" onclick="closeAttendance()">
        <div class="modal" onclick="event.stopPropagation()">
            <h2 style="text-align: center;">Посещаемость</h2>
            <table id="attendance-table">
                <tr>
                    <th>Дата</th>
                    <th>Предмет</th>
                    <th>Статус</th>
                </tr>
            </table>
            <button class="actions" onclick="closeAttendance()">Закрыть</button>
        </div>
    </div>
</body>
</html>