<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Расписание преподавателя</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='groups.css') }}"> -->
    <style>
        .schedule-item {
            margin: 5px;
            padding: 10px;
            border: 1px solid #ccc;
        }
    </style>
</head>
<body>
    <h1>Расписание занятий</h1>
    <table>
        <tr>
            <th class="time">Время</th>
            <th class="day">Понедельник</th>
            <th class="day">Вторник</th>
            <th class="day">Среда</th>
            <th class="day">Четверг</th>
            <th class="day">Пятница</th>
            <th class="day">Суббота</th>
        </tr>
        {% set times = [
            ('08:30', '09:50'),
            ('10:00', '11:20'),
            ('11:30', '12:50'),
            ('13:30', '14:50'),
            ('15:00', '16:20'),
            ('16:30', '17:50')
        ] %}
        {% for start_time, end_time in times %}
        <tr>
            <td class="time">{{ start_time }} - {{ end_time }}</td>
            {% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %}
                <td>
                    {% for item in schedule %}
                        {% if item[2] == day and item[3].strftime('%H:%M') == start_time %}
                            <div class="schedule-item" style="background-color: {{ 'lightblue' if item[0] == 1 else 'lightgreen' }};">
                                {{ item[0] }}<br>
                                {{ item[1] }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>
