<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меню</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <script src="{{ url_for('static', filename='sidenav.js') }}"></script>
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="active"><span>На главную</span></a>
        <a href="/schedule">Расписание</a>
        <a href="/groups">Группы</a>
        <a href="/teachers">Преподаватели</a>
    </div>
    <span class="menu" onclick="openNav()">☰</span>
    <div class="container">
        <div class="left-panel">
            <h1>База данных деканата</h1>
            <ul>
                <li><a href="{{ url_for('schedule.schedule') }}" data-text="Расписание">Расписание</a></li>
                <li><a href="{{ url_for('groups.groups') }}" data-text="Группы">Группы</a></li>
                <li><a href="{{ url_for('teachers.teachers') }}" data-text="Преподаватели">Преподаватели</a></li>
            </ul>
        </div>
        <div class="right-panel">
            <h2>Новости</h2>
            <form action="{{ url_for('news.add_news') }}" method="POST" class="add-news-form">
                <input type="text" name="title" placeholder="Заголовок" required>
                <textarea style="font-family: Arial, Helvetica, sans-serif" name="content" placeholder="Содержание" required></textarea>
                <button type="submit">Добавить новость</button>
            </form>
            <div class="news-container">
                {% for news_item in news_items %}
                <div class="news-item">
                    <h3>{{ news_item[1] }}</h3>
                    <p>{{ news_item[2] }}</p>
                    <p><i>{{ news_item[3] }}</i></p>
                    <form action="{{ url_for('news.delete_news', news_id=news_item[0]) }}" method="POST" style="display:inline;">
                        <button type="submit" class="delete-button">Удалить</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
