<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Преподаватели</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='teachers.css') }}">
    <script src="{{ url_for('static', filename='teachers.js') }}"></script>
    <script src="{{ url_for('static', filename='sidenav.js') }}"></script>
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">На главную</a>
        <a href="/schedule">Расписание</a>
        <a href="/groups">Группы</a>
        <a class="active"><span>Преподаватели</span></a>
    </div>
    <span class="menu" onclick="openNav()">☰</span>
    <div class="container">
        <div class="left-panel">
            <h1 style="text-align:center">Список преподавателей</h1>
            {% for teacher in teachers %}
            <div class="teacher-block">
                <h2>{{ teacher[1] }} {{ teacher[2] }}</h2>
                <p>Дата рождения: {{ teacher[3] }}</p>
                <p>Пол: {{ teacher[4] }}</p>
                <p>Адрес: {{ teacher[5] }}</p>
                <p>Телефон: {{ teacher[6] }}</p>
                <p>Email: {{ teacher[7] }}</p>
                <h3>Предметы:</h3>
                <ul>
                    {% for subject in subjects %}
                        {% if subject[0] == teacher[0] %}
                            <li>{{ subject[1] }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <h3>Группы:</h3>
                <ul>
                    {% for group in groups %}
                        {% if group[0] == teacher[0] %}
                            <li>{{ group[1] }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="ac">
                    <button class="actions" onclick="loadSchedule({{ teacher[0] }})">Показать расписание</button>
                    <button class="actions" onclick="openAddSchedule({{ teacher[0] }})">Добавить расписание</button>
                    <button class="actions" onclick="deleteTeacher({{ teacher[0] }})">Удалить учителя</button>
                </div>
            </div>
            {% endfor %}
            <button class="actions" style="margin: 0 auto; display:flex;" onclick="openAddTeacher()">Добавить учителя</button>
        </div>
        <div class="right-panel schedule-container">
            {% for message in get_flashed_messages() %}
            <div class="alert">
                <button class="close" onclick="this.parentElement.style.display='none';">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
            <h1>Расписание занятий</h1>
            <table>
                <tr>
                    <th class="time">Время</th>
                    <th class="day">Понедельник</th>
                    <th class="day">Вторник</th>
                    <th class="day">Среда</th>
                    <th class="day">Четверг</th>
                    <th class="day">Пятница</th>
                    <th class="day">Суббота</th>
                </tr>
                {% set times = [
                    ('08:30', '09:50'),
                    ('10:00', '11:20'),
                    ('11:30', '12:50'),
                    ('13:30', '14:50'),
                    ('15:00', '16:20'),
                    ('16:30', '17:50')
                ] %}
                {% for start_time, end_time in times %}
                <tr>
                    <td class="time">{{ start_time }} - {{ end_time }}</td>
                    {% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'] %}
                        <td>
                            {% for item in schedule %}
                                {% if item[2] == day and item[3].strftime('%H:%M') == start_time %}
                                    <div class="schedule-item" style="background-color: lightblue;" data-schedule-id="{{ item[4] }}">
                                        {{ item[0] }}<br>
                                        {{ item[1] }}
                                        <button class="delete-button" onclick="deleteSchedule({{ item[5] }})"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="overlay" id="addScheduleForm" style="display: none;" onclick="closeAddSchedule()">
        <div class="modal" onclick="event.stopPropagation()">
            <form action="/teachers/add_schedule" method="POST">
                <input type="hidden" name="teacher_id" id="form_teacher_id">
                <label for="subject_id">Предмет:</label>
                <select name="subject_id" id="subject_id">
                    {% for subject in all_subjects %}
                        <option value="{{ subject[0] }}">{{ subject[1] }}</option>
                    {% endfor %}
                </select>
                <label for="group_id">Группа:</label>
                <select name="group_id" id="group_id">
                    {% for group in all_groups %}
                        <option value="{{ group[0] }}">{{ group[1] }}</option>
                    {% endfor %}
                </select>
                <label for="day_of_week">День недели:</label>
                <select name="day_of_week" id="day_of_week">
                    <option value="Monday">Понедельник</option>
                    <option value="Tuesday">Вторник</option>
                    <option value="Wednesday">Среда</option>
                    <option value="Thursday">Четверг</option>
                    <option value="Friday">Пятница</option>
                    <option value="Saturday">Суббота</option>
                </select>
                <label for="time">Время начала:</label>
                <input type="time" name="start_time" id="start_time" required>
                <label for="end_time">Время окончания:</label>
                <input type="time" name="end_time" id="end_time" required>
                <button type="submit">Добавить</button>
                <button type="button" onclick="closeAddSchedule()">Отмена</button>
            </form>
        </div>
    </div>
    <div class="overlay" id="addTeacherOverlay" onclick="closeAddTeacher()">
        <div class="modal" onclick="event.stopPropagation()">
            <h2>Добавить студента</h2>
            <form action="/teachers/add_teacher" method="POST">
                <label for="first_name">Имя:</label>
                <input type="text" id="first_name" name="first_name" required>
                <label for="last_name">Фамилия:</label>
                <input type="text" id="last_name" name="last_name" required>
                <label for="date_of_birth">Дата рождения:</label>
                <input type="date" id="date_of_birth" name="date_of_birth" required>
                <label for="gender">Пол:</label>
                <select id="gender" name="gender" required>
                    <option value="Male">Мужской</option>
                    <option value="Female">Женский</option>
                </select>
                <label for="address">Адрес:</label>
                <input type="text" id="address" name="address" required>
                <label for="phone">Телефон:</label>
                <input type="text" id="phone" name="phone" required>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <button type="submit">Добавить</button>
                <button type="button" onclick="closeAddTeacher()">Закрыть</button>
            </form>
        </div>
    </div>
</body>
</html>